<div class="2xl:container 2xl:mx-auto md:py-12 py-9">
  <div
    class="bg-gray-50 dark:bg-gray-800 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-8 md:gap-12 gap-14 lg:px-20 lg:py-12 py-10 md:px-12 px-4"
  >
    <!-- Correo grid Card -->
    <div class="">
      <img
        class=""
        src="/public/correo-electronico.png"
        alt="Correo electronico"
      />
      <h3
        class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8"
      >
        Correo Electronico
      </h3>
      <p
        class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full"
      >
        Ponte en contacto en nuestro correo <span
          class="font-semibold cursor-pointer"
        >
          customercare@gmail.com</span
        >
      </p>
    </div>

    <!-- Whatsap Grid Card -->

    <div class="">
      <img class="" src="/public/whatsapp.png" alt="Whatsapp" />

      <h3
        class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8"
      >
        Número de teléfono y whatsapp
      </h3>
      <p
        class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full"
      >
        Mandanos un mensaje a nuestro numero <span
          class="font-semibold cursor-pointer">+495-589-509</span
        >
      </p>
    </div>

    <!-- tiktok Grid Card -->

    <div class="">
      <img class="" src="/public/tik-tok.png" alt="TikTok" />

      <h3
        class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8"
      >
        TikTok
      </h3>
      <p
        class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full"
      >
        Siguenos para saber más de esta gran valor bridando su apoyo <span
          class="font-semibold cursor-pointer">@proteccionanimalpuyango</span
        >
      </p>
    </div>

    <!-- Faceboock Card -->

    <div class="">
      <img class="" src="/public//facebook.png" alt="Facebook" />

      <h3
        class="text-xl leading-5 dark:text-white font-semibold text-gray-800 lg:mt-10 mt-8"
      >
        Faceboock
      </h3>
      <p
        class="text-base leading-6 font-normal dark:text-gray-300 text-gray-600 mt-4 lg:w-full md:w-9/12 w-full"
      >
        Siguenos para saber más de esta gran valor bridando su apoyo <span
          class="font-semibold cursor-pointer">@proteccionanimalpuyango</span
        >
      </p>
    </div>
  </div>
</div>
