<div
  class="2xl:mx-auto dark:bg-gray-900 2xl:container md:px-20 px-4 md:py-12 py-9"
>
  <div class="relative rounded-md">
    <img
      src="/public/donateLarge.jpg"
      alt="city view"
      class="w-full h-full rounded-md object-center object-cover absolute sm:block hidden"
    />
    <img
      src="/public/donateSm.jpg"
      alt="city view"
      class="w-full h-full rounded-md absolute object-center object-cover sm:hidden"
    />
    <div
      class="text-xl relative bg-gradient-to-r from-green-500 to-transparent w-full h-full z-40 top-0 md:p-16 p-6 flex flex-col justify-between rounded-md"
    >
      <div>
        <h1
          class="md:text-5xl text-3xl font-bold md:leading-10 leading-9 text-white sm:w-auto w-64"
        >
          ¡Únete a nuestra causa!
        </h1>
        <span
          class="md:text-3xl text-justify text-xl font-normal md:leading-10 leading-9 text-white sm:w-auto w-64"
          >Haz una donación y ayuda a proteger a los animales</span
        >
        <p
          class="text-lg text-justify leading-6 text-white xl:w-5/12 lg:w-8/12 md:w-10/12 2xl:pr-12 mt-4"
        >
          Nuestro trabajo es posible gracias al apoyo de personas y
          organizaciones comprometidas con nuestra misión. Si compartes nuestra
          pasión por proteger a los animales, te invitamos a unirte a nuestra
          causa y hacer una donación.
        </p>
      </div>
      <div class="md:mt-12 mt-20">
        <button
          class="text-base font-medium leading-4 text-white bg-transparent border sm:w-auto w-full rounded p-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white"
          >Donación</button
        >
      </div>
    </div>
  </div>
</div>
