<div class="lg:container lg:mx-auto lg:py-16 md:py-12 md:px-6 py-12 px-4">
  <h1
    class="text-center dark:text-white lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 font-normal"
  >
    Preguntas frecuentes
  </h1>

  <div
    class="lg:mt-12 bg-gray-100 dark:bg-gray-800 md:mt-10 mt-8 lg:py-7 lg:px-6 md:p-6 py-6 px-4 lg:w-8/12 w-full mx-auto rounded-md"
  >
    <div class="flex justify-between md:flex-row flex-col">
      <div class="md:mb-0 mb-8 md:text-left text-center">
        <h2
          class="font-normal dark:text-white text-xl leading-5 text-gray-800 lg:mb-2 mb-4"
        >
          Preguntas
        </h2>
        <p
          class="font-normal text-justify dark:text-gray-300 text-sm leading-5 text-gray-600 md:w-8/12 md:ml-0 w-11/12 mx-auto"
        >
          Si no encuentra su respuesta, contáctenos o deje un mensaje, estaremos
          encantados de ayudarle.
        </p>
      </div>
    </div>
  </div>

  <div class="lg:w-8/12 w-full mx-auto">
    <!-- Question 1 -->
    <hr class="w-full lg:mt-10 md:mt-12 md:mb-8 my-8" />

    <div class="w-full md:px-6">
      <div id="mainHeading" class="flex justify-between items-center w-full">
        <div class="">
          <p
            class="flex justify-center items-center dark:text-white font-medium text-base leading-6 md:leading-4 text-gray-800"
          >
            <span
              class="lg:mr-6 text-justify mr-4 dark:text-white lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-normal text-green-500"
              >P1.</span
            > ¿Cuál es el proceso para adoptar un animal de Protección Animal Puyango?
          </p>
        </div>
        <button
          aria-label="toggler"
          class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 rounded"
          data-menu
        >
          <img
            class="transform dark:hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg"
            alt="toggler"
          />
          <img
            class="transform dark:block hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg"
            alt="toggler"
          />
        </button>
      </div>
      <div id="menu" class="hidden mt-6 w-full">
        <p
          class="text-base text-justify leading-6 text-gray-600 dark:text-gray-300 font-normal"
        >
          El proceso para adoptar un animal de Protección Animal Puyango incluye
          llenar un formulario de solicitud de adopción, pasar por una
          entrevista y una visita al hogar, y pagar una tarifa de adopción.
          Nuestro objetivo es asegurarnos de que los animales sean adoptados por
          hogares amorosos y responsables, y que se brinde un ambiente seguro y
          adecuado para el animal.
        </p>
      </div>
    </div>

    <!-- Question 2 -->

    <hr class="w-full lg:mt-10 my-8" />

    <div class="w-full md:px-6">
      <div id="mainHeading" class="flex justify-between items-center w-full">
        <div class="">
          <p
            class="flex justify-center items-center dark:text-white font-medium text-base leading-6 lg:leading-4 text-gray-800"
          >
            <span
              class="lg:mr-6 text-justify dark:text-white mr-4 lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-normal text-green-500"
              >P2.</span
            > ¿Cómo puedo reportar un caso de crueldad o maltrato animal?
          </p>
        </div>
        <button
          aria-label="toggler"
          class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 rounded"
          data-menu
        >
          <img
            class="transform dark:hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg"
            alt="toggler"
          />
          <img
            class="transform dark:block hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg"
            alt="toggler"
          />
        </button>
      </div>
      <div id="menu" class="hidden mt-6 w-full">
        <p
          class="text-base text-justify leading-6 text-gray-600 dark:text-gray-300 font-normal"
        >
          Si sospechas que un animal está siendo maltratado o está en situación
          de peligro, puedes contactarnos a través de nuestra línea de
          emergencia o enviar un correo electrónico a nuestro equipo de rescate.
          También puedes reportar el caso a las autoridades locales, como la
          policía o el departamento de control de animales.
        </p>
      </div>
    </div>

    <!-- Question 3 -->

    <hr class="w-full lg:mt-10 my-8" />

    <div class="w-full md:px-6">
      <div id="mainHeading" class="flex justify-between items-center w-full">
        <div class="">
          <p
            class="flex justify-center items-center dark:text-white font-medium text-base leading-6 lg:leading-4 text-gray-800"
          >
            <span
              class="lg:mr-6 text-justify dark:text-white mr-4 lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-normal text-green-500"
              >P3.</span
            > ¿Cómo puedo apoyar a Protección Animal Puyango si no puedo hacer una
            donación monetaria?
          </p>
        </div>
        <button
          aria-label="toggler"
          class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 rounded"
          data-menu
        >
          <img
            class="transform dark:hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg"
            alt="toggler"
          />
          <img
            class="transform dark:block hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg"
            alt="toggler"
          />
        </button>
      </div>
      <div id="menu" class="hidden mt-6 w-full">
        <p
          class="text-base text-justify leading-6 text-gray-600 dark:text-gray-300 font-normal"
        >
          Respuesta: Hay muchas maneras de apoyar nuestra organización sin hacer
          una donación monetaria. Puedes convertirte en voluntario, difundir
          nuestro mensaje en redes sociales, asistir a nuestros eventos y
          compartir información sobre nuestras campañas de concientización.
          También puedes donar suministros y alimentos para nuestros animales, o
          incluso abrir tu hogar como hogar temporal para animales rescatados.
        </p>
      </div>
    </div>

    <!-- Question 4 -->

    <hr class="w-full lg:mt-10 my-8" />

    <div class="w-full md:px-6">
      <div id="mainHeading" class="flex justify-between items-center w-full">
        <div class="">
          <p
            class="flex justify-center items-center dark:text-white font-medium text-base leading-6 lg:leading-4 text-gray-800"
          >
            <span
              class="lg:mr-6 text-justify dark:text-white mr-4 lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-normal text-green-500"
              >P4.</span
            >¿Qué hace Protección Animal Puyango con las donaciones que recibe?
          </p>
        </div>
        <button
          aria-label="toggler"
          class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 rounded"
          data-menu
        >
          <img
            class="transform dark:hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg"
            alt="toggler"
          />
          <img
            class="transform dark:block hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg"
            alt="toggler"
          />
        </button>
      </div>
      <div id="menu" class="hidden mt-6 w-full">
        <p
          class="text-base text-justify leading-6 text-gray-600 dark:text-gray-300 font-normal"
        >
          Todas las donaciones que recibimos se destinan a la atención médica,
          el rescate y la rehabilitación de animales en peligro o en situación
          de riesgo. También utilizamos las donaciones para financiar nuestras
          campañas de concientización y educación sobre el bienestar animal en
          la comunidad.
        </p>
      </div>
    </div>

    <!-- Question 5 -->

    <hr class="w-full lg:mt-10 my-8" />

    <div class="w-full md:px-6">
      <div id="mainHeading" class="flex justify-between items-center w-full">
        <div class="">
          <p
            class="flex justify-center items-center dark:text-white font-medium text-base leading-6 lg:leading-4 text-gray-800"
          >
            <span
              class="lg:mr-6 dark:text-white mr-4 text-justify lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-normal text-green-500"
              >P5.</span
            >¿Qué tipo de animales rescatan y cuidan en Protección Animal
            Puyango?
          </p>
        </div>
        <button
          aria-label="toggler"
          class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 rounded"
          data-menu
        >
          <img
            class="transform dark:hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg"
            alt="toggler"
          />
          <img
            class="transform dark:block hidden"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg"
            alt="toggler"
          />
        </button>
      </div>
      <div id="menu" class="hidden mt-6 w-full">
        <p
          class="text-base text-justify leading-6 text-gray-600 dark:text-gray-300 font-normal"
        >
          Rescatamos y cuidamos a todo tipo de animales, desde perros y gatos
          hasta animales exóticos y de granja. Nuestro equipo de rescate está
          capacitado para manejar una amplia variedad de situaciones, y
          trabajamos en estrecha colaboración con expertos veterinarios y
          especialistas en rehabilitación de animales para brindar la mejor
          atención posible a cada animal rescatado.
        </p>
      </div>
    </div>

    <hr class="w-full lg:mt-10 my-8" />
  </div>
</div>

<script>
  let elements = document.querySelectorAll("[data-menu]");
  for (let i = 0; i < elements.length; i++) {
    let main = elements[i];

    main.addEventListener("click", function () {
      let element = main.parentElement.parentElement;
      let indicators = main.querySelectorAll("img");
      let child = element.querySelector("#menu");
      let h = element.querySelector("#mainHeading>div>p");

      h.classList.toggle("font-semibold");
      child.classList.toggle("hidden");
      // console.log(indicators[0]);
      indicators[0].classList.toggle("rotate-180");
    });
  }
</script>
