<h1
  role="heading"
  class="text-center lg:text-4xl text-3xl lg:leading-10 dark:text-white leading-9 mt-12"
>
  Galleria de fotos
</h1>
<p
  role="contentinfo"
  class="font-normal text-base text-justify leading-6 text-gray-600 dark:text-gray-200 mt-6 2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4 te"
>
  Aquí encontrarás una colección de imágenes que muestran nuestro trabajo en
  acción, así como algunos de los animales que hemos tenido el privilegio de
  rescatar y cuidar. Nuestra organización está comprometida en proteger y
  preservar la vida de los animales, y esta galería de fotos refleja nuestro
  compromiso de compartir nuestra labor con la comunidad. Cada fotografía cuenta
  una historia única de rescate y rehabilitación de animales en peligro o en
  situación de riesgo, y representa una pequeña parte de nuestra dedicación a la
  protección de los animales en la región. Esperamos que estas imágenes te
  inspiren a unirte a nosotros en nuestra misión de proteger a los animales y
  promover un futuro más compasivo y justo para todas las especies.
</p>

<div
  class="hidden 2xl:container 2xl:mx-auto xl:flex flex-wrap items-start justify-center pt-6 pb-6 gap-6"
>
  <div
    class="flex lg:flex-col sm:flex-row flex-col items-start lg:gap-0 gap-6 lg:w-96 w-auto"
  >
    <!--  Img 1 -->

    <div>
      <img class="rounded-lg" src="/public/gl_1.jpg" alt="foto 1" />
    </div>

    <!--  Img 2 -->

    <div class="lg:mt-10">
      <img class="rounded-lg" src="/public/gl_2.jpg" alt="foto 2" />
    </div>
  </div>
  <div
    class="flex lg:flex-col sm:flex-row flex-col items-start lg:gap-0 gap-6 lg:w-96 w-auto"
  >
    <!--  Img 3 -->

    <div>
      <img class="rounded-lg" src="/public/gl_3.jpg" alt="foto 3" />
    </div>

    <!--  Img 4 -->

    <div class="lg:mt-10">
      <img class="rounded-lg" src="/public/gl_4.jpg" alt="foto 4" />
    </div>
  </div>
  <div
    class="flex xl:flex-col sm:flex-row flex-col items-start xl:gap-0 gap-6 xl:w-96 w-auto"
  >
    <!--  Img 5 -->

    <div>
      <img class="rounded-lg" src="/public/gl_5.jpg" alt="foto 5" />
    </div>

    <!--  Img 6 -->

    <div class="xl:mt-10">
      <img class="rounded-lg" src="/public/gl_6.jpg" alt="foto 6" />
    </div>
  </div>
</div>
