---
---

<main>
  <section
    class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4 te"
  >
    <img
      src="../../public/home1.jpg"
      alt=""
      class="absolute top-0 left-0 w-full h-full object-cover object-[85%]"
    />

    <div
      class="relative h-[calc(100vh-3rem)] gap-3 container grid content-center"
    >
      <div class="m-4 gap-4 text-white">
        <span class="lg:text-2xl text-xl font-light sm:text-lg"
          >Estamos Actuando</span
        >
        <h1
          class="w-full font-normal lg:text-5xl text-3xl text-white lg:leading-10 dark:tex-black leading-9 pb-10"
        >
          Por Los Animales
        </h1>
        <a
          href="#"
          class="bg-transparent lg:text-xl xl:text-2xl hover:bg-green-500 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded focus:ring-white"
          >Explora el Blog</a
        >
      </div>

      <div
        class="flex flex-col gap-y-0.5 m-4 text-xl sm:text-2xl lg:text-3xl text-white"
      >
        <a href="#"><i class="ri-facebook-box-fill"></i></a>
        <a href="#"><i class="ri-instagram-fill"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-mv-fill"></i></a>
      </div>

      <div
        class="text-white flex p-4 items-center gap-2 absolute right-0 bottom-4 sm:bottom-16 w-56 lg:w-72 py-5 px-4 border bg-opacity-20 backdrop-blur-lg drop-shadow-lg hover:border-transparent hover:bg-green-600 mr-4 rounded-md hover:border"
      >
        <div class="text-sm sm:text-base lg:text-xl font-semibold">
          <span class=""> Nuevas Historias</span>
          <a href="#" class="flex items-center gap-2 hover:text-green-900"
            >Mas
            <i class="ri-arrow-right-line"></i>
          </a>
        </div>

        <div class="overflow-hidden rounded-md">
          <a href="#">
            <img class="h-auto" src="../../public/home2.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
