<div
  class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4 tex pb-0"
>
  <div class="flex lg:flex-row flex-col lg:gap-8 sm:gap-10 gap-12 mt-10">
    <div class="w-full lg:w-6/12">
      <h2
        class="w-full font-normal lg:text-4xl text-3xl text-gray-800 lg:leading-10 dark:text-white leading-9"
      >
        Información sobre nosotros <br />Protección Animal Puyango
      </h2>
      <p
        class="font-normal text-base text-justify leading-6 text-gray-600 dark:text-gray-200 mt-6"
      >
        Protección Animal Puyango es una organización sin ánimo de lucro
        dedicada a proteger a los animales en la región de Puyango, ubicada en
        la provincia de Loja en Ecuador. La organización fue fundada por un
        grupo de activistas que comparten una profunda preocupación por el
        bienestar de los animales y que creen que la protección de los animales
        es esencial para el equilibrio y la armonía en la naturaleza. <br />
        <br />
        Nuestro equipo está compuesto por un grupo de voluntarios comprometidos y
        apasionados por la causa animal, quienes se dedican a tiempo completo a cuidar
        y proteger a los animales necesitados. Contamos con un refugio donde brindamos
        atención veterinaria, alimentación y cariño a los animales rescatados, mientras
        esperan ser adoptados por familias amorosas.
      </p>
    </div>
    <div class="w-full lg:w-6/12">
      <img
        class="lg:block hidden w-full rounded-md"
        src="../../public/info3.jpg"
        alt="people discussing on board"
      />
      <img
        class="lg:hidden sm:block hidden w-full rounded-md"
        src="../../public/info2.jpg"
        alt="people discussing on board"
      />
      <img
        class="sm:hidden block w-full rounded-md"
        src="../../public/info1.jpg"
        alt="people discussing on board"
      />
    </div>
  </div>

  <div class="relative mt-24">
    <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
      <div
        class="z-20 w-12 h-12 bg-green-500 rounded-full flex justify-center items-center"
      >
        <i class="ri-map-pin-line text-white text-2xl"></i>
      </div>

      <div
        class="z-20 w-12 h-12 bg-green-500 rounded-full flex justify-center items-center"
      >
        <i class="ri-chat-smile-2-line text-white text-2xl"></i>
      </div>

      <div
        class="hidden z-20 w-12 h-12 bg-green-500 rounded-full sm:flex justify-center items-center"
      >
        <i class="ri-user-3-line text-white text-2xl"></i>
      </div>
    </div>

    <hr class="z-10 absolute top-2/4 w-full bg-gray-200" />
  </div>
  <div class="grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
    <div>
      <p
        class="font-normal lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6"
      >
        Ubicación
      </p>
      <p
        class="font-normal text-base text-justify leading-6 text-gray-600 dark:text-gray-200 mt-6"
      >
        Estamos ubicados en la región de Puyango, ubicada en la provincia de
        Loja en Ecuador.
      </p>
    </div>
    <div>
      <p
        class="font-normal lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6"
      >
        Programa de rescate
      </p>
      <p
        class="font-normal text-base text-justify leading-6 text-gray-600 dark:text-gray-200 mt-6"
      >
        Nuestro programa de rescate de animales cuenta con un equipo altamente
        capacitado y dedicado que está equipado con un vehículo especializado
        para llevar a cabo nuestras operaciones de rescate.
      </p>
    </div>

    <div class="sm:block hidden">
      <p
        class="font-normal lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6"
      >
        Comunidad
      </p>
      <p
        class="font-normal text-base text-justify leading-6 text-gray-600 dark:text-gray-200 mt-6"
      >
        Trabajamos estrechamente con la comunidad para identificar y responder
        rápidamente a las alertas de animales en peligro o en situación de
        riesgo.
      </p>
    </div>
  </div>

  <div class="sm:hidden block relative mt-8">
    <hr class="absolute top-2/4 w-full bg-gray-200" />
    <div
      class="z-20 w-12 h-12 bg-green-500 rounded-full flex justify-center items-center"
    >
      <i class="ri-user-3-line text-white text-2xl"></i>
    </div>
  </div>
  <div class="sm:hidden grid sm:grid-cols-3 grid-cols-2 sm:gap-8 gap-4">
    <div>
      <p
        class="font-normal lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white mt-6"
      >
        Comunidad
      </p>
      <p
        class="font-normal text-base text-justify leading-6 text-gray-600 dark:text-gray-200 mt-6"
      >
        Trabajamos estrechamente con la comunidad para identificar y responder
        rápidamente a las alertas de animales en peligro o en situación de
        riesgo.
      </p>
    </div>
  </div>

  <div
    class="flex lg:flex-row flex-col md:gap-14 gap-16 justify-between lg:mt-20 mt-16"
  >
    <div class="w-full lg:w-6/12">
      <h2
        class="font-normal lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 dark:text-white"
      >
        Misión
      </h2>
      <p
        class="font-normal text-base leading-6 text-justify text-gray-600 dark:text-gray-200 mt-6 w-full lg:w-10/12 xl:w-9/10"
      >
        El principal objetivo de Protección Animal Puyango es proteger a los
        animales en riesgo y asegurarse de que reciban el cuidado que necesitan.
        La organización trabaja en estrecha colaboración con las autoridades
        locales y nacionales, así como con otras organizaciones y grupos
        comunitarios para fomentar la conciencia sobre el bienestar de los
        animales y promover la adopción de políticas de protección animal más
        sólidas.
      </p>
      <p
        class="font-normal text-base leading-6 text-justify text-gray-600 dark:text-gray-200 w-full lg:w-10/12 xl:w-9/10 mt-10"
      >
        Protección Animal Puyango también trabaja para proporcionar hogares
        temporales y permanentes a los animales rescatados. La organización
        tiene un equipo de voluntarios altamente capacitados que trabajan en
        estrecha colaboración con los veterinarios locales para brindar atención
        médica y alimentación adecuada a los animales. Además, la organización
        trabaja para educar a la comunidad sobre la importancia de la adopción y
        para fomentar la responsabilidad en el cuidado de los animales.
      </p>

      <h2
        class="font-normal lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 dark:text-white mt-10"
      >
        Visión
      </h2>

      <p
        class="font-normal text-base leading-6 text-justify text-gray-600 dark:text-gray-200 w-full lg:w-10/12 xl:w-9/10 mt-10"
      >
        La visión de Protección Animal Puyango es crear una comunidad donde los
        animales sean valorados, respetados y protegidos, y donde la conciencia
        sobre el bienestar animal sea una prioridad compartida por todos. La
        organización aspira a trabajar en estrecha colaboración con las
        autoridades y la comunidad para lograr un cambio significativo en la
        forma en que se tratan a los animales, y para fomentar una cultura de
        compasión y cuidado hacia los seres vivos. La visión de Protección
        Animal Puyango es promover la idea de que los animales tienen derecho a
        vivir en libertad y en un ambiente seguro y saludable, y que su
        protección y bienestar son fundamentales para el bienestar general de
        nuestro planeta y de todas las especies que lo habitan.
      </p>
    </div>
    <div class="w-full lg:w-6/12">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 lg:gap-12 gap-10"
      >
        <!-- Nutricióm Card -->
        <div class="flex p-4 shadow-md">
          <div class="mr-6">
            <img
              class="mr-6"
              src="/public/nutrición.png"
              alt="Nutirción card"
            />
          </div>
          <div class="">
            <p
              class="font-medium lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white"
            >
              Nutrición
            </p>
            <p
              class="mt-2 font-normal text-justify text-base leading-6 text-gray-600 dark:text-gray-200"
            >
              Agua y alimento nutricionalmente adecuado para cada especie, que
              esté disponible en cantidades y frecuencia adecuada acorde a la
              edad, estado fisiológico,necesidades especiales.
            </p>
          </div>
        </div>

        <!-- Ambiente Card -->
        <div class="flex p-4 shadow-md">
          <div class="mr-6">
            <img class="mr-6" src="/public/ambiente.png" alt="Ambiente card" />
          </div>
          <div class="">
            <p
              class="font-medium lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white"
            >
              Ambiente
            </p>
            <p
              class="mt-2 font-normal text-justify text-base leading-6 text-gray-600 dark:text-gray-200"
            >
              Las condiciones físicas y atmosféricas a las que los animales
              están expuestos directamente. El espacio disponible, el piso, la
              atmósfera, el olor, la temperatura, el ruido y la luz o la
              densidad de otros animales.
            </p>
          </div>
        </div>

        <!-- Salud Card -->
        <div class="flex p-4 shadow-md">
          <div class="mr-6">
            <img class="mr-6" src="/public/salud.png" alt="Salud card" />
          </div>
          <div class="">
            <p
              class="font-medium lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white"
            >
              Salud
            </p>
            <p
              class="mt-2 font-normal text-justify text-base leading-6 text-gray-600 dark:text-gray-200"
            >
              Este dominio se refiere a la atención médica veterinaria tanto
              preventiva como oportuna si el animal ha sufrido lesiones o
              enfermedades. Tienerelación con el dominio 1 y 2.
            </p>
          </div>
        </div>

        <!-- Interacciones comportamentales Card -->
        <div class="flex p-4 shadow-md">
          <div class="mr-6">
            <img
              class="mr-6"
              src="/public/interaccion.png"
              alt="Integración card"
            />
          </div>
          <div class="">
            <p
              class="font-medium lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white"
            >
              Interacciones comportamentales
            </p>
            <p
              class="mt-2 font-normal text-justify text-base leading-6 text-gray-600 dark:text-gray-200"
            >
              Destaca los comportamientos flexibles relacionados que presentan
              en respuesta a eventos y condiciones externas variables, a menudo
              impredecibles. El enfoque principal del Dominio 4 está en la
              evidencia conductual de expresión obstaculizada y/o mejorada de
              agencia cuando los animales interactúan con (1) su entorno, (2)
              otros animales no humanos y (3) seres humanos.
            </p>
          </div>
        </div>

        <!-- Mental Card -->
        <div class="flex p-4 shadow-md">
          <div class="mr-6">
            <img
              class="mr-6"
              src="/public/mental.png"
              alt="Estado mental card"
            />
          </div>
          <div class="">
            <p
              class="font-medium lg:text-2xl text-xl lg:leading-6 leading-5 text-gray-800 dark:text-white"
            >
              Estado mental
            </p>
            <p
              class="mt-2 font-normal text-justify text-base leading-6 text-gray-600 dark:text-gray-200"
            >
              Dominio mental se refiere a las experiencias positivas y negativas
              que los humanos podemos generar en los animales, así como también
              se manifiesta en relacióna los dominios 1 al 4.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
